<div class="container py-4">
    <form [formGroup]="userForm">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">User Name</label>
            <input type="text" formControlName="name" class="form-control">
            <p class="text-danger mb-0"><small *ngIf="isSubmmited && f['name'].errors?.['required']">Please Enter
                    Name</small></p>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">User Email</label>
            <input type="email" formControlName="email" class="form-control">
            <p class="text-danger mb-0"><small *ngIf="isSubmmited &&  f['email'].errors?.['required']">Please Enter
                    Email</small></p>
            <p class="text-danger mb-0"><small *ngIf="isSubmmited &&  f['email'].errors?.['email']">Please Enter Valid
                    Email</small></p>
        </div>

        <button type="button" class="btn btn-dark" (click)="save()">Create</button>
    </form>
</div>