<div class="container py-4">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">User Name</label>
        <input type="text" [(ngModel)]="userForm.name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">User Email</label>
        <input type="email" [(ngModel)]="userForm.email" class="form-control">
    </div>

    <button type="button" class="btn btn-dark" (click)="save()">Create</button>

</div>